# note that any comments here will be removed during AST parsing
from locust import task, run_single_user
from locust import FastHttpUser

class {{name}}(FastHttpUser):
    host = "{{host}}"
    {%- if default_headers %}
    default_headers = {
        {%- for (key, value) in default_headers | sort %}
        '{{ key }}': '{{ value }}',
        {%- endfor %}
    }
    {%- endif %}

    @task
    def t(self):
        {% for e in entries -%}
        {% set request = e.request %}
        with self.{{request.fname}}("{{ request.method | upper }}", "{{ request.url }}"
        {%- if request.fname == "rest" -%}{%- if request.headers -%}, headers={
            {%- for (key, value) in request.headers | sort %}
            {%- if key|lower != "content-type" -%}
            '{{ key }}': '{{ value }}',
            {%- endif -%}    
            {%- endfor %}}
        {%- endif -%}
        {%- if request.postData -%}, json={{ request.postData.text }}
        {%- endif -%}
        {%- else -%}
        {%- if request.headers -%}, headers={
            {%- for (key, value) in request.headers | sort %}
            '{{ key }}': '{{ value }}',
            {%- endfor %}}
        {%- endif -%}
        {%- if request.postData -%}
        , data='{{ request.postData.text }}'
        {%- endif -%}
        {%- for (key, value) in request.extraparams -%}
            ,{{ key }}={{ value }}
        {%- endfor -%}
        {% endif %}) as resp:
            pass
        {% endfor %}